/* Estilos para el contenedor del logo */
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Estilos para el logo pequeño */
.small-logo {
    height: 30px; /* Ajusta el tamaño según sea necesario */
    width: auto;
    transition: all 0.3s;
}

/* Ajustes específicos para el logo en el menú hamburguesa */
.humberger__menu__logo .logo-container {
    justify-content: center;
    margin-bottom: 20px;
}

/* Ajustes específicos para el logo en el encabezado */
.header__logo .logo-container {
    justify-content: flex-start;
}

/* Ajustes específicos para el logo en el pie de página */
.footer__about__logo .logo-container {
    justify-content: center;
    margin-bottom: 20px;
}

/* Ajustes de hover para el logo */
.logo-container:hover .small-logo {
    transform: scale(1.1);
}
